@model WebTechTest.Models.NestoriaSearchViewModel
@{
    ViewBag.Title = "Home Page";
}



@using (Html.BeginForm())
{
    @Html.TextBox("Search")
    
    <button type="submit">Search</button>


    if (Model != null && Model.ApiCallRootObject != null)
    {
        <h2>Displaying results for @Model.ApiCallRootObject.response.locations.FirstOrDefault().title</h2>
        <div class="flex-container">
            @foreach (var listing in Model.ApiCallRootObject.response.listings)
            {
                <div class="flex-item">
                    <h3 class="listing-title">
                        <a href="@listing.lister_url">@listing.title</a>
                    </h3>
                    <div class="listing-image">
                        <img src="@listing.img_url" />
                    </div>
                 
                </div>  
            }
        </div>
    }
}